.block__tint-overlay {
    background-color: #000;
    opacity: .5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.z-index-1 {
    z-index: 1
}

.z-index-100 {
    z-index: 100
}

.z-index-500 {
    z-index: 500
}

.z-index-900 {
    z-index: 900
}

.is-full-height {
    height: 100vh;
    min-height: 700px;
}


//
#hero-slider {
    @include media-breakpoint-up(lg) {
        p.lead {
            max-width: 580px;
        }
    }
}

// ping pong start
.ping-pong {

    padding: 0;
    margin-bottom: $spacer;

    @include media-breakpoint-up(lg) {
        padding: $spacer*2 0;
        margin-bottom: 0;
    }

    p {
        margin-bottom: $spacer*.5;
    }

}

.ping-pong--txt-column {
    @include media-breakpoint-down(lg) {
        margin-bottom: $spacer;
    }
}

.ping-pong--img-column {

    p + img {
        margin-top: $spacer*2;
    }

    img + a {
        margin-top: $spacer*2;
    }

}

.ping-pong--txt-btns {

    .ping-pong--txt-column {

        p + a, p + a + a {
            margin-top: $spacer;
        }

        a + a {
            margin-left: $spacer/2;
            @extend .btn-outline-primary;
        }
    }

    .ping-pong--img-column {

        p + img {
            margin-top: 0;
        }

    }

}


@include media-breakpoint-up(lg) {

    .ping-pong--img-full .container {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }

    .ping-pong--max-width {
        max-width: 538px; // 455 + spacer*4 = 575
    }

    .ping-pong--left .ping-pong--max-width {
        margin-left: auto;
        padding-right: $spacer*4;
    }

    .ping-pong--right .ping-pong--max-width {
        margin-right: auto;
        padding-left: $spacer*5;
    }

    .ping-pong--right .ping-pong--txt-column {
        order: 2;
    }

    .ping-pong--right .ping-pong--img-column {
        order: 1;
    }

}

@include media-breakpoint-up(xl) {

    .ping-pong--img-full .ping-pong--img-column {
        min-height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}

// remove the background on the ping pong
@include media-breakpoint-down(lg) {
    .ping-pong--img-full .ping-pong--img-column {
        background-image: none !important;
    }
}