footer {

    overflow: hidden;

    .nav-logo {
        @include media-breakpoint-up(lg) {
            position: absolute;
            padding-top: 0;
            bottom: -1px;
            left: 0;
            z-index: 9999;
        }
    }

    .footer {
        background-color: #161F43;
    }

    .whiteout {
        position: absolute;
        bottom: -2px;
        right: 92%;
    }

}

#footernav {

    @include media-breakpoint-up(lg) {
        li.nav-item {
            padding-bottom: 0;
            padding-left: $spacer/4;
            padding-right: $spacer/4;
        }
    }

    .nav-link {
        text-align: center;
        padding: $spacer/4;
    }
    .social-links {
        justify-content: center;
    }
    a.social-link {
        border-color: rgba(#D0D7DD, 0.2);
        color: #D0D7DD;
    }

    .nav-logo svg.logo {
        width: 126px;
        height: auto;
        position: relative;
        z-index: 9999;
        padding-top: $spacer/4;
        @include media-breakpoint-up(lg) {
            padding-top: 0;
            width: 168px;
        }
    }

    #footernav {
        position: relative;
        z-index: 9998;
    }

    .bar {
        position: absolute;
        left: $spacer*4;
        top: $spacer;
        z-index: 2;
    }

    .navbar-footer {
        z-index: 9998;
    }
}
