.hero-nav-overlay {
    overflow: hidden;
    padding: 0;

    nav.navbar {
        padding: $spacer 36px;
        @include media-breakpoint-up(lg) {
            padding: $spacer $spacer/4;
        }
    }

    .navbar-dark .navbar-toggler {
        margin-top: $spacer;
        background: transparent;
        outline: none;
        border: none;
        padding: .75rem;
        position: absolute;
        right: 0;
        z-index: 9999;

        .fa-bars {
            color: white;
            font-size: 110%;
            line-height: 1.2;
        }
    }

    .nav-logo svg.logo {
        width: 126px;
        height: auto;
        position: relative;
        z-index: 1002;
        padding-top: $spacer/4;
        @include media-breakpoint-up(lg) {
            padding-top: 0;
            width: 168px;
        }
    }

    .bar {
        position: absolute;
        left: $spacer*4;
        top: $spacer;
        z-index: 2;
    }

    #mainnav {
        z-index: 9998;
    }

    .navbar-nav .nav-link {
        color: $white;
        font-weight: bold;
    }

    .dropdown-toggle::after {
        margin-left: .45rem;
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav .menu-item.show > .nav-link {
            background: darken($primary,20%);
            color: white;
        }

        .navbar-nav .nav-link {
            padding: 0.8rem;
        }

        .dropdown-menu {
            box-shadow: none;
            border-radius: 0;
            border: none;
            right: auto;
            left: 0;
            margin: 0;
            background: darken($primary,20%);
            width: 100%;

            & > .menu-item > .nav-link {
                padding-left: $spacer;
                padding-right: $spacer;
                font-family: $font-family-sans-serif;
                color: white;
                font-size: 90%;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0;

        .nav-logo img {
            width: 35px;
            height: auto;
        }

        .dropdown-menu {
            display: block;
            background: none;
            border: none;
            margin: 0;
            padding: 0 0 0 1.5rem;
        }
    }
}

.social-links {
    height: $spacer*2;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(lg) {
        justify-content: center;
    }
}
a.social-link {
    margin-left: $spacer/2;
    border: 2px solid rgba(white, 0.2);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none !important;
    &:hover {
        border: 2px solid rgba(white, 0.7);
    }
}

#header {

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 45rem;
        position: absolute;
    }

    nav {
        position: absolute;
        width: 100%;
        z-index: 1001;
    }

}

#mobile-nav {
    opacity: 0;
    background-color: rgba($dark, .85);
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1002;

    transition: opacity 0.15s ease-in;

    ul#main-menu {
        margin-top: $spacer*4;
    }

    @media (min-height: 500px) {
        .nav-link {
            padding-bottom: $spacer*.75;
        }

    }


    .nav-link, .btn-link {
        font-size: 1.2rem;
        font-weight: 700 !important;
    }

    li.dropdown.show {
        .menu-item {
            display: none;
        }
    }


    a.social-link {
        margin-top: $spacer;
        width: 40px;
        height: 40px;
        &:first-child {
            margin-left: 0;
        }
    }
}

#mobile-nav.show {
    opacity: 1;
}

#header-blue.hero-nav-overlay {
    overflow: visible;
}

.page-template-page-contact {
    .hero-nav-overlay {
        height: auto !important;
        overflow: visible;
    }
}