button, .btn {
    cursor: pointer;
}

.btn {
    border-radius: 0;
    font-size: 1rem;
    line-height: 1.2;
    border-width: 1px;
    padding: 1rem 1.6rem;
    font-weight: 700;
}

.btn-outline-primary {
    background-color: white;
}